@page "/membros"

<PageTitle>Jeruel :: Membros</PageTitle>

<h1>Membros</h1>


@if (membros == null)
{
    <p><em>Loading...</em></p>
}
else
{


    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@ToggleOpen">Adicionar</MudButton>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>CPF</th>
                <th>Data de Nascimento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var membro in membros)
            {
                <tr>
                    <td>@membro.ID.</td>
                    <td>@membro.Nome</td>
                    <td>@membro.Telefone</td>
                    <td>@membro.Email</td>
                    <td>@membro.CPF</td>
                    <td>@membro.DataDeNascimento.ToString("dd/MM/yyy")</td>
                </tr>
            }
        </tbody>
    </table>


              


            // ESTILIZAÇÃO E CÓDIGO DO POPUP

//<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@ToggleOpen">Open</MudButton>
   // <MudSwitch @bind-Value="_open" Color="Color.Primary" />
   // <MudToggleIconButton @bind-Toggled="@_open" Icon="@Icons.Material.Filled.Fullscreen" Color="@Color.Primary" ToggledIcon="@Icons.Material.Filled.FullscreenExit" ToggledColor="@Color.Secondary" />

    <MudPopover Open="@_open" Fixed="true" Class="px-4 pt-4">
        <div class="d-flex flex-column">
            
           




            <MudButton OnClick="@ToggleOpen" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Confirmar</MudButton>
            <MudButton OnClick="@ToggleOpen" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Cancelar</MudButton>






        </div>
    </MudPopover>

    @code 
   {
    private bool _open;

    private void ToggleOpen() => _open = !_open;
   }




}
